<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Form</title>

</head>
<body>
<p><i>Type date of the Picture here: </i></p>
<!--  <form th:action="@{/pictures/daily}" method="post" th:object="${date}">-->
<!--      <label for="date">Date:</label>-->
<!--    <input id="date" type="text" name="date" th:value="${date}">-->
<!--      <button type="submit" class="btn btn-primary">Submit</button>-->
<!--  </form>-->
<a th:href="@{/pictures/daily}">Get Daily Picture Here!!!</a>
</body>
</html>